
@{
    ViewBag.Title = "Index";
}

<style>
    .readingShade {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        color: inherit;
        background-color: #A1D6E2;
    }
</style>
<body>
    <form id="form1" runat="server">
        <div class="readingShade">
            <h3 style="text-align:center">Amharic reading</h3>
            <table>
                <tr>
                    <td>Lesson 1</td>
                    <td>Words</td>
                </tr>
                <tr>
                    <td>Lesson 2</td>
                    <td>Sentence</td>
                </tr>

                <tr>
                    <td>Lesson 3</td>
                    <td>Advance Sentence</td>
                </tr>
            </table> 
        </div>
    </form>
</body>

