
@{
    ViewBag.Title = "Index";
}
<style>
    .button {
        background-color: #C99E10; /* Green */
        border-color:burlywood;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button1 {
        padding: 10px 24px;
    }
</style>
<h2>Alphabets</h2>
    @{
        var i= 0;} 
    @foreach (var item in Model)
    {

        <div>
            <div class="button button1"> @item.AmharicChar</div>
        </div>

        i++;
        if (i % 7 == 0)
        {
            <br />
        }

    }
