@{
    ViewData["Title"] = "About us";
}
<h1>@ViewData["Title"]</h1>

<p style="font-size:large; font-weight:700;"> We make unique necklace and bracelet designs.
    All original hand crafted Meskel (crosses)
    High quality and one of the kind.</p>
